/* CSS reset */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI", Arial, sans-serif;
}

a {
    color: currentColor;
}

/* Outer layout */
body {
    min-height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.4rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content 1fr min-content;
}

/* Footer styles */
footer {
    border-top: 1px dotted;
}

/* Header styles */
header {
    border-bottom: 1px dotted;
}
