{% extends "base.html" %} 
{% load wagtailcore_tags %}

{% block body_class %}template-researchindexpage{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>

    {% for entry in research_entries %}
        {% with entry=entry.specific %}
            <h2><a href="{% pageurl entry %}">{{ entry.research_title }}</a></h2>
            <div>
                {{ entry.description }}
            </div>
            <p><i>{{ entry.date }}</i></p>
        {% endwith %}
    {% endfor %}

{% endblock %}
