{% extends "base.html" %}
{% load snippet_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    
    <section class="page--hero">
        <div class="container btm--align">
            <h1 class="page--title">{{ page.title }}</h1>
        </div>
    </section>

    <div class="container">
        <h2>Principal Investigator</h2>
        {% member page.lead %}

        <h2>PhD Scholars</h2>
        {% for scholar in page.scholars %}
            {% member scholar.value %}
        {% endfor %}

        <h2>Master Students</h2>
        {% for master in page.masters %}
            {% member master.value %}
        {% endfor %}

        <h2>Alumni</h2>
        {% for alumnus in page.alumni %}
            {% member alumnus.value %}
        {% endfor %}
    </div>
    

{% endblock %}
