{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div id="elements">
        <div class="element-card">
            <h1>Intent</h1>
            <p>{{ page.intent }}</p>
        </div>
        <div class="element-card">
            <h1>Methods</h1>
            <p>{{ page.methods }}</p>
        </div>
        <div class="element-card">
            <h1>Vision</h1>
            <p>{{ page.vision }}</p>
        </div>
    </div>

{% endblock %}
